[SERVICE]
    Flush        5
    Daemon       Off
    Log_Level    info
    Parsers_File parsers.conf
    Parsers_File openstack_parsers.conf
    Plugins_File plugins.conf
    HTTP_Server  On
    HTTP_Listen  0.0.0.0
    HTTP_Port    2020

[INPUT]
    Name systemd
    Tag  systemd.local
    DB /opt/td-agent-bit/systemd.db
    Strip_Underscores On
    Interval_Sec 1
    Tag journal


################
# general syslog
################

[INPUT]
    Name tail
    Path /var/log/auth.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.auth.db
    Mem_Buf_Limit 1MB
    Parser syslog-simple
    Tag log

[INPUT]
    Name tail
    Path /var/log/dpkg.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.dpkg.db
    Mem_Buf_Limit 1MB
    Parser syslog-dpkg
    Tag log

[INPUT]
    Name tail
    Path /var/log/kern.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.kern.db
    Mem_Buf_Limit 1MB
    Parser syslog-simple
    Tag log

#######################
# openstack apache logs
#######################

[INPUT]
    Name tail
    Path /var/log/apache2/*access.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.apache.db
    Mem_Buf_Limit 1MB
    Parser apache2
    Tag openstack.apache

[INPUT]
    Name tail
    Path /var/log/apache2/error.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.apache-error.db
    Mem_Buf_Limit 1MB
    Parser apache_error
    Tag openstack.apache_error

[INPUT]
    Name tail
    Path /var/log/apache2/placement_api_error.log
    Exclude_Path /var/log/apache2/error.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.apache-placement.db
    Mem_Buf_Limit 1MB
    Parser apache_error-placement
    Tag openstack.apache_error

[INPUT]
    Name tail
    Path /var/log/apache2/cinder.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.cinder.db
    Mem_Buf_Limit 1MB
    Parser apache_access-cinder
    Tag openstack.apache

[INPUT]
    Name tail
    Path /var/log/apache2/cinder_error.log
    Exclude_Path /var/log/apache2/error.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.cinder-error.db
    Mem_Buf_Limit 1MB
    Parser apache_error-cinder
    Key message
    Tag openstack.apache_error

########################
# openstack service logs
########################

[INPUT]
    Name tail
    Path /var/log/cinder/cinder-scheduler.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.cinder-sched.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.cinder

[INPUT]
    Name tail
    Path /var/log/glance/glance-api.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.glance.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.glance

[INPUT]
    Name tail
    Path /var/log/heat/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.heat.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.heat

[INPUT]
    Name tail
    Path /var/log/keystone/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.keystone.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.keystone

[INPUT]
    Name tail
    Path /var/log/neutron/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.neutron.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.neutron

[INPUT]
    Name tail
    Path /var/log/nova/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.nova.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline openstack
    Parser_1 openstack
    Tag openstack.nova

############
# data logs
############

[INPUT]
    Name tail
    Path /var/log/mysql/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.mysql.db
    Mem_Buf_Limit 1MB
    Parser mysql
    Tag mysql

[INPUT]
    Name tail
    Path /var/log/rabbitmq/*.log
    Path_Key filename
    DB /opt/td-agent-bit/tail.mq.db
    Mem_Buf_Limit 1MB
    Multiline On
    Parser_Firstline rabbit-first
    Parser_1 rabbit
    Tag mq

[FILTER]
    Name modify
    Match *

    Rename CMDLINE cmdline
    Rename COMM comm
    Rename EXE exe
    Rename GID gid
    Rename HOSTNAME hostname
    Rename MACHINE_ID machine_id
    Rename MESSAGE message
    Rename PID pid
    Rename PRIORITY priority
    Rename SYSLOG_FACILITY syslog_facility
    Rename SYSLOG_IDENTIFIER syslog_identifier
    Rename SYSLOG_PID syslog_pid
    Rename SYSTEMD_CGROUP systemd_cgroup
    Rename SYSTEMD_INVOCATION_ID systemd_invocation_id
    Rename SYSTEMD_SLICE systemd_slice
    Rename SYSTEMD_UNIT systemd_unit
    Rename TRANSPORT transport
    Rename UID uid

    Set hostname ${HOSTNAME}

[OUTPUT]
    Name  forward
    Match *
    Host {{ monitor }}
    Port 24224
    Retry_Limit False
